
{% extends "layout.html" %}

{% block pageTitle %} {{ serviceName }}{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ serviceName }}
      </h1>     
      <p class="govuk-heading-s">The screens and journeys for the  {{ serviceName }} experience</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Dashboard</li>
        <li><a href="account/change-name/index.html">Change name</a></li>
        <li><a href="account/change-dob/index">Change date of birth</a></li>
        <li><a href="account/change-telephone/index">Change phone number</a></li>
        <li><a href="account/change-email/index">Change email address</a></li>
        <li><a href="account/change-national-insurance/index">Change National Insurance number</a></li>
      </ul>
      <p class="govuk-heading-s">Emails sent from service</p>
      <p>Changes to email address, phone & NI do not require DfE contact centre checks. After updating the user will receive the following email  </p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="email/email-auto-confirmation.html">Auto confirmation (Email, Phone, NI)</a></li>
      </ul>
      <p>Changes to Name or D.O.B require DfE approval. The user will recieve a confimation email, followed by an email accepting or rejecting their change request.  </p>

      <ul class="govuk-list govuk-list--bullet">

        <li><a href="email/email-auto-confirmation-awaiting.html">Auto confirmation (Name, D.O.B)</a></li>
        <li><a href="email/email-auto-confirmation-rejected.html">Email changes rejection (Name. D.O.B)</a></li>
        <li><a href="email/email-auto-confirmation-accepted.html">Email changes accepted (Name. D.O.B)</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
