{% extends "layout.html" %}
{% set pageHeading = "Update your date of birth" %} 

{% block pageTitle %}
{{ pageHeading }} 
{% endblock %}

{% block beforeContent %}
{% include "includes/back.html" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageHeading }} </h1>

      <form method="post" novalidate>

        {% call govukFieldset({
          legend: {
            text:  title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}
        <p>If your date of birth is wrong, you’ll need to provide evidence to update it. </p>

        <p>Your evidence must be in pdf or jpeg format and be a scan of 1 of the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>birth certificate</li>
            <li>passport</li>
            <li>driving licence</li>
            
          </ul>
         {{ govukDateInput({
          id: "dob",
          namePrefix: "date-of-birth",
          fieldset: {
            legend: {
              isPageHeading: false
            }
          },
          hint: {
            text: "For example, 27 3 2007"
          },
          items: [
            {
              classes: "govuk-input--width-2 ",
              name: "day",
              value: "1"
            },
            {
              classes: "govuk-input--width-2 ",
              name: "month",
              value: "1"
            },
            {
              classes: "govuk-input--width-4 ",
              name: "year",
              value: "1980"
            }
          ]
        }) }}


        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload your evidence"
          }
        }) }}
         
        {% endcall %}

        {{ govukButton({
          text: "Update date of birth",
          href: "confirmation"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
